<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    <form [formGroup]="compraForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">
            Seus Dados:
          </p>
        </div>

        <div class="col-xs-12 col-sm-3" *ngIf="compraForm.hasError('emailsNaoConferem')">
            <span class="help-block pull-right has-error-block"><i class="fa fa-remove"></i> Emails não conferem</span>
        </div>

        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo obrigatório" label="Nome">
            <input class="form-control" formControlName="nome" autocomplete="off" placeholder="Nome" />
          </mt-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Email inválido" label="Email">
            <input type="text" class="form-control" formControlName="email" autocomplete="off" placeholder="Email" />
          </mt-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Email inválido" label="Confirmação do Email">
            <input type="text" class="form-control" formControlName="emailConfirmacao" autocomplete="off" placeholder="Confirmação do Email"
            />
          </mt-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo obrigatório" label="Endereço">
            <input class="form-control" formControlName="endereco" autocomplete="off" placeholder="Endereço" />
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Campo obrigatório" label="Número">
            <input type="text" class="form-control" formControlName="numero" autocomplete="off" placeholder="Número" />
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container label="Complemento">
            <input type="text" class="form-control" formControlName="complemento" placeholder="Complemento">
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>

        <mt-item-compra [itens]="itensCarrinho()" (aumentarQuantidade)="aumentarQuantidade($event)" (diminuirQuantidade)="diminuirQuantidade($event)"
          (removerCarrinhoItem)="removerItem($event)"></mt-item-compra>

        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]="formaPagamento" formControlName="formaPagamento"></mt-radio>
          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-custos-entrega [valorEntrega]="valorEntrega" [valorItens]="valorItens()"></mt-custos-entrega>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right" (click)="checarCompra(compraForm.value)" [disabled]="!compraForm.valid || itensCarrinho().length === 0">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->
